<div class="row justify-content-center mt-4">
    <div class="col-lg-4 col-md-8 col-11">
        <div class="card">
            <div class="card-body d-flex flex-column justify-content-center">
                <img src="/undraw_authentication_fsn5.svg" alt="login-img" class="login-img">
                <%- include("./partials/messages"); -%>
                <form action="/users/register" method="POST">
                    <div>
                        <label for="fname">Full Name</label>
                        <input type="text" name="fname" id="fname" placeholder="Email.." class="form-control"
                            value="<%= typeof fname != 'undefined' ? fname : '' %>">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email.." class="form-control"
                            value="<%= typeof email != 'undefined' ? email : '' %>">
                    </div>
                    <div class="mt-2">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Password.."
                            class="form-control" value="<%= typeof password != 'undefined' ? password : '' %>">
                    </div>
                    <div class="mt-2">
                        <label for="password2">Confirm Password</label>
                        <input type="password" name="password2" id="password2" placeholder="Confirm Password.."
                            class="form-control" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 form-control">Register</button>
                </form>
                <span class="mt-2">Already user? <a href="/users/login" class="text-primary">Login</a></span>
            </div>
        </div>
    </div>
</div>